@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
}
:root{
    --cor0: #046B00;
    --cor1: #02B54F;
    --cor2: #00c076;

    --fonte-padrao: Roboto Condensed, sans-serif;
}

body{
    background-color: rgb(255, 255, 190)
}
header{
    background-image: linear-gradient(to top, var(--cor0), var(--cor1), var(--cor2) );
    height: 150px;
    
    margin: -24px -20px 0px -8px;
    padding: 0px;
    text-align: center;
    color: white;
    font-family: Roboto Condensed;
}
header > p{
    text-align: center;
    margin: auto;
}
header>h1{
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto+Condensed&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500;1,600&display=swap');
    padding-top: 20px;
    font-size: 30px;
    font-family: var(--fonte-padrao);
}
nav{
    text-align: left;
    margin: 8px;
    
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    padding: 7px;
    transition-duration: 0.5s;
    border-radius: 3px;
    margin: auto;
}
nav > a:hover{
    background-color: #01b972;
    color: #023a00;

}
a{
    text-decoration: none;
}
main{
    background-color: white;
    height: fit-content;
    max-width: 800px;
    min-width: 320px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.325);
    padding-bottom: 20px;
    border-radius: 10px;
    font-family: Roboto Condensed;
}
main a:hover{
    color: #5245a9;
    background-color: #bcf6e0;
    padding: 3px;
    border-radius: 3px;
}
main a::after{
    content: '\1F517';
}
img{
    width: 80%;
}
 p{
    text-align: justify;
    padding: 0px 15px;
    text-indent: 20px;
}
strong{
    color: green;
}
h2{
    font-family: 'Android';   
    color: #057e39;
    font-size: 25px;
    padding: 10px 15px 20px 40px;
    margin: -20px;
}
h3{
    font-family: 'Android';  
    color: #057e39;
    font-size: 20px;
    padding: 10px 15px;
    background-image: linear-gradient(to right, #2ae09b65, white);
    background-position: 10px ;
}
div.foto{
    text-align: center;
}
div.video{
    background-color: #046B00;
    padding: 20px; 
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: rgb(166, 255, 255);
    padding: 10px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
aside > p > a{
    text-decoration: none;
    color: green;
}
aside > ul{
    columns: 2;
    list-style-type: '\2714\00A0\00A0';

}
h4{
    color: white;
    font-family: Roboto Condensed;
    background-color: #046B00;
    padding: 10px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
}
footer{
    background-color: #046B00;
    color: white;
    margin-bottom: -20px;
    padding: 8px;
    margin-top: 20px;
   
}
footer > p > strong{
    color: white;
}

footer > p{
    text-align: center;
    font-family: Roboto Condensed;
    font-style: italic;
    font-size: 13px;
    margin: 0px;
}